.admin {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.admin input, textarea, select {
    background-color: #363643;
}

.admin input, textarea, select {
    @apply p-1;
}