@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #191920;
}

*::-webkit-scrollbar-thumb {
    background-color: #363643;
    border-radius: 20px;
}

