.searchWrapper {
    height: 53px;
    border-radius: 6px;
    backdrop-filter: blur(12px);
    background: rgba(1, 1, 1, 0.24);
}

.search {
    color: var(--text-color);
}

.search:focus-visible {
    /*outline: none;*/
}